[Unit]
Description=Python SimpleHTTPServer for LetsEncrypt ACME challenge
Documentation=man:SimpleHTTPServer(1)

[Service]
Type=forking
PIDFile=/var/run/letsencrypt-webserver.pid
WorkingDirectory={{ letsencrypt_webroot_path }}
ExecStart=/bin/sh -c "/usr/bin/python -m SimpleHTTPServer 80 & /bin/echo $! > /var/run/letsencrypt-webserver.pid"
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
